{% load compress %}
{% load staticfiles %}

{% compress js %}
    <script src="{% static "assets/angular/angular.min.js" %}"></script>
    <script src="{% static "assets/angular/angular-cookies.min.js" %}"></script>
    <script src="{% static "assets/angular/angular-route.min.js" %}"></script>
    <script src="{% static "assets/angular/angular-resource.min.js" %}"></script>
    <script src="{% static "assets/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>

    <script src="{% static "javascript/userdash/userdashApp.js" %}"></script>
    <script src="{% static "javascript/userdash/userdashApp.config.js" %}"></script>
    <script src="{% static "javascript/userdash/userdashApp.routes.js" %}"></script>

    <script src="{% static "javascript/userdash/projects/projects.module.js" %}"></script>
    <script src="{% static "javascript/userdash/projects/services/projects.services.js" %}"></script>
    <script src="{% static "javascript/userdash/projects/controllers/projects.controller.js" %}"></script>
    <script src="{% static "javascript/userdash/projects/directives/projects.directive.js" %}"></script>

{% endcompress %}