<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" ng-app="userdashApp" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard/userdash.css" %}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" ng-controller="DashController">
      <div class="row">

          <!-- Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active" ng-click="setVisible('overview')"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li ng-click="setVisible('project');getProj()"><a href="#">Projects</a></li>
            <li ng-click="setVisible('equipment')"><a href="#">Equipment</a></li>
            <li ng-click="setVisible('safety')"><a href="#">Lab Safety</a></li>
          </ul>
        </div>

          <!-- Main Dash -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="row placeholders" ng-show="isProjects">
                <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="project in projects">
                    <h3>{[{ project.name }]}</h3>
                    <h4>{[{ project.supervisor }]}</h4>
                </div>
                <button type="button" class="btn btn-primary" ng-click="setVisible('newproj')">New Project</button>
            </div>

            <form ng-show="isNewProject">
                 <h2 class="sub-header">New Project</h2>
                <div class="form-group">
                    <label for="project_title" class="control-label">Title:</label>
                    <input type="text" class="form-control" id="project_title" ng-model="newproj.name" required>
                </div>
                <div class="form-group">
                    <label for="project_super" class="control-label">Supervisor:</label>
                    <input type="text" class="form-control" id="project_super" ng-model="newproj.supervisor" required>
                </div>
                <div class="form-group">
                    <label for="project_descrp" class="control-label">Description:</label>
                    <input type="text" class="form-control" id="project_descr">
                </div>
                <button type="button" class="btn btn-primary" ng-click="saveProj()">Submit Proposal</button>
            </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    {% include "userdash/javascript.html" %}
  </body>
</html>
